.AddEventBtn,
.CloseAddEventBtn {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  background-color: #f8ecec;
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-size: 15px;
  color: #1b2442;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s ease-out;
}

.AddEventBtn:hover {
  background-color: #fae3e3;
}

.AddEventBtn > svg {
  position: absolute;
  top: -0.5rem;
  left: 40px;
  font-size: 20px;
}

/* AddEventForm styles */
.AddEventForm {
  /* position: fixed; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px;
}

.AddEventForm > label {
  font-family: "Merriweather", serif;
  font-size: 13px;
  font-weight: 900;
  color: #1b2442;
}

.AddEventForm > label > input {
  width: 10rem;
  height: 2rem;
  margin: 0.5rem 0.5rem;
}

.AddEventForm > label > input,
.AddEventForm > textarea {
  background-color: transparent;
  color: #1b2442;
  padding: 10px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  border-radius: 5px;
  border: 1px solid #eceff8;
  outline: 2px solid #f8ecf8;
}

.saveBtn {
  width: 10rem;
  padding: 10px;
  margin: 0.5rem 0;
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-size: 13px;
  background-color: #f8ecec;
  color: #1b2442;
  border: 1px solid #eceff8;
  outline: 2px solid #f8ecf8;
  border-radius: 5px;
  cursor: pointer;
}

/* Animations from animista.net */
/* flip in */
.flip-in-hor-bottom {
  -webkit-animation: flip-in-hor-bottom 0.5s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: flip-in-hor-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg);
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1;
  }
}
@keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg);
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1;
  }
}
